body {
  display: flex;
  flex-direction: column;
  background-color: #e6f1f8;
  color: #2c2c2a;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
}
.head {
  padding: 60px;
  text-align: center;
  background-color: #185fa5;
  color: #fff;
}
nav {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
nav a {
  flex: 1;
  text-align: center;
  padding: 25px 0;
  background-color: #e6f1f8;
  color: #0c447c;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #185fa5;
  transition:
    background-color 0.5s,
    color 0.5s;
}
nav a:hover {
  background-color: #185fa5;
  color: #ffffff;
}
nav a.active {
  background-color: #185fa5;
  color: #ffffff;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: #e6f1f8;
  gap: 40px;
}
.home-text h2 {
  flex: 1;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #5891c9;
  white-space: nowrap;
}
.home-text h3 {
  flex: 1;
  font-size: 35px;
  color: #185fa5;
}
.home-text p {
  flex: 1;
  font-size: 25px;
}
.home-buttons {
  display: flex;
  flex-direction: column;
}
.btn-primary,
.btn-secondary {
  background: #185fa5;
  color: #fff;
  border: 6px solid #185fa5;
  padding: 12px 28px;
  font-size: 10px;
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px;
}
.btn-primary:hover,
.btn-secondary:hover {
  background: #0a3560;
  border-color: #0a3560;
  transition:
    background,
    border 0.2s;
}
.my-courses-header,
.contact-us-header,
.Add-course-header {
  width: 100%;
  background-color: #185fa5;
}
.my-courses-header h1,
.contact-us-header h1,
.Add-course-header h1 {
  text-align: center;
  color: #e6f1f8;
  font-size: 20px;
}
.my-courses-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding: 50px 20px;
}

.table-wrapper {
  border: 1px solid #185fa5;
  overflow-x: auto;
  max-width: 650px;
  width: 100%;
  border-radius: 12px;
}

table {
  border-collapse: collapse;
  background: #fff;
}

thead tr {
  background-color: #185fa5;
  color: #e6f1f8;
}

thead th {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  padding: 18px 20px;
  border: 1px solid #185fa5;
}

tbody tr {
  border-bottom: 1px solid #164461;
  transition: background 0.15s;
}

tbody tr:hover {
  background: #eef6fd;
}

tbody td {
  font-size: 15px;
  font-weight: 800;
  color: #195086;
  padding: 16px 13px;
  text-align: center;
  border-right: 1px solid #d0e8f7;
  vertical-align: middle;
}
.Add-course-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  padding: 50px 20px;
}
.Add-course-form {
  background: #ffffff;
  border-radius: 16px;
  max-width: 550px;
  padding: 40px;
  width: 100%;
  border: 1px solid #185fa5;
}
.form-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #185fa5;
  gap: 20px;
}
.form-items label {
  font-size: 16px;
  text-transform: uppercase;
}
.form-items input,
.form-items textarea {
  border-radius: 6px;
  border: 2px solid #185fa5;
  padding: 16px 12px;
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #264463;
  background: #f0f7ff;
}
::placeholder {
  color: #aaa;
  font-weight: 500;
}
.form-items input:focus,
.form-items textarea:focus {
  border: 3px solid #264463;
}
.submit-btn {
  width: 100%;
  padding: 20px;
  background: #185fa5;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  color: #e6f1f8;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.submit-btn:hover {
  background: #264463;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #185fa5;
  color: #195086;
  font-size: 15px;
}

.contact-section p {
  font-weight: normal;
  font-size: 20px;
}

.contact-email,
.contact-phone {
  background: #185fa5;
  color: #ffffff;
  border-radius: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.contact-email p,
.contact-phone p {
  font-weight: bold;
  font-size: 20px;
}
footer {
  background: #185fa5;
  color: #e6f1f8;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  width: 100%;
  bottom: 0;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* stack links vertically */
  }
  nav a {
    font-size: 12px;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto; /* horizontal scroll if needed */
  }
  table {
    font-size: 14px;
  }
  thead th,
  tbody td {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .contact-section,
  .Add-course-section,
  .my-courses-section {
    min-height: auto;
  }
}
@media (max-width: 600px) {
  .contact-section {
    display: block;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .contact-section p {
    font-size: 14px;
  }
}
